@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');


:root {
    --primary-color: hsl(41.88, 100%, 60.39%);
    --secondary-color: hsl(206, 57.69%, 10.2%);
    --white: #f8efef;
    --transparent: hsla(41.88, 100%, 60.39%,0.8);
    --accent: hsl(20.72, 64.65%, 57.84%);
    --height: 800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
body {
    height: 100%;
    background: var(--secondary-color);
}

