@media screen and (max-width: 1440px) {
           
    .container {
        max-width: 1440px;
        width: 100%;
        display: block;
        margin: 0 auto;

        }

        header {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100%;
        }   

       
        header ul li {
            font-size: 18px;
        }
        
        .logo {
            width: 300px;
            margin-left: 0;
        }
        
        
       
        .intro img {
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
        }
        .intro h2 {
            width: 100%;
            text-align: center;
            color: var(--white);
            font-size: 38px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        
        }

        .circle {
            position: relative;
            background-color: var(--primary-color);
            width: 50px;
            height: 50px;
        }

        .left {
            position: absolute;
            top: 47%;
            left: 10%;
        }
        
        .right {
            position: absolute;
            top: 47%;
            right: 10%;
        }
       
        #cardapio-menu ul li {
            margin: auto;
            text-align: center;
            max-width: 200px;
            text-transform: uppercase;
            background-color: var(--primary-color);
            padding: 10px;  
            border-right: 1px solid var(--secondary-color);
        }
        
        

}

@media screen and (max-width: 1024px) {
           
    .container {
        max-width: 1024px;

        }

        .logo {
            width: 300px;
            margin-left: 80px;

        }
        .logo img {
            width: 70%;
            display: block;
            margin: auto;
        }
        
        .intro img {
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
        }
        .intro h2 {
            width: 100%;
            text-align: center;
            color: var(--white);
            font-size: 32px;
        }

        .circle {
            width: 60px;
            height: 60px;
        
        }
        .fa {
            font-size: 20px;
        }
        

        .left {
            position: absolute;
            top: 46.5%;
            left: 2%;
        }
        
        .right {
            position: absolute;
            top: 46.5%;
            right: 2%;
        }
               
        #cardapio-menu ul li {
            margin: auto;
            text-align: center;
            max-width: 200px;
            text-transform: uppercase;
            background-color: var(--primary-color);
            padding: 10px;  
            border-right: 1px solid var(--secondary-color);
        }
        
        .footer-menu ul{
            width: 15%;
        }

        .social {
            width: 42px;
            height: 42px;
            margin-left: 10px;
        
        }
        

}


@media screen and (max-width: 768px) {

  
    .container {
        max-width: 768px;
        width: 100%;


        }

        .logo {
            width: 300px;
            margin-left: 0;


        }
        header ul  {
            width: 100%;

        }
        header .logo img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        
        
        .intro img {
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
        }
        .intro h2 {
            width: 100%;
            text-align: center;
            color: var(--white);
            font-size: 32px;
        }

        .circle {
            width: 60px;
            height: 60px;
        
        }
        .fa {
            font-size: 20px;
        }
        

        .left {
            position: absolute;
            top: 46.5%;
            left: 2%;
        }
        
        .right {
            position: absolute;
            top: 46.5%;
            right: 2%;
        }
               
        
        
        #cardapio-menu ul li {
            width: 150px;
        
        }
        
        
        .about-box {
            width: 100%;
         }
         .social {
             width: 32px;
             height: 32px;
         }
         .social i {
            font-size: 13px;
        }

        .float {
            width: 40px;
            height: 40px;
            text-align: center;
            display: inline-flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        
.my-float {
    margin-top: 0;
}
        
        
}   

@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
        width: 100%;

        }

        header {
            flex-direction: column;
            height: 100px;
            justify-content: center;
            align-items: center;

        }
        header .logo img{
            display: block;
            width: 70%;
            padding: 0;
            margin: 0 auto;

        }

        header ul {
            width: 100%;
            margin-right: 0;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0;

        
        }

        header ul li {
            margin-right: 0;
            font-size: 14px;
            padding: 10px;
        }

        .intro h2 {
            font-size: 20px;
        }
        .intro img {
            width: 100%;
            height: 300px;
        }

        .circle {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        
        .left {
            position: absolute;
            top: 60%;
            left: 40%;
        }
        
        .right {
            position: absolute;
            top: 60%;
            right: 40%;
        }

        .fa {
            font-size: 15px;
            text-align: center;
        }

        #cardapio {
            height: 800px;
            background-color: var(--white);
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
        
        }

        #cardapio-menu {
                width: 100%;
        }
        .espetos ul li {
            font-size: 12px;
            margin-left: 10px;
        }
        .espetos img {
            width: 90%;
            margin-left: 0;
        }
        
        #events {
            height: 300px;
        }
        
        #sobre {
            height: 300px;
        }

            #sobre h1 {
            width: 100%;
            font-size: 18px;  
            }

            
              .about-box p {
                width: 90%;
            }
            .about-box h2 {
            font-size: 18px;
            }
            #events h1 {
                text-align: center;
                text-transform: uppercase;
                font-size: 20px;
            }
            
            #contact {
                position: relative; 
            
            }
            #contact h1 {
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            #contact h2 {
                font-size: 16px;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%,-50%);
      

            }

            footer h2 {
                font-size: 15px;
            }

            .footer-menu h2 {
                font-size: 15px;
            }
            
            
            .footer-menu ul{
                width: 30%;
            }

            .footer-menu ul li a{
                font-size: 13px;
            }
            
}   

@media screen and (max-width: 375px) {


   
    .container {
        max-width: 375px;
        width: 100%;

        }


        #events h1{
            width: 100%;
            font-size: 15px;
        }
       
            #contact h2 {
                font-size: 16px;
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%,-50%);
      

            }

            .footer-menu ul{
                width: 100%;
            }
            #contact h1 {
                font-size: 15px;
                width: 100%;
            }
        

           
            
}   


